@model IndexModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1>Тут все что я о нём знаю.</h1>
<h2>Id = @ViewBag.contact.Id </h2>
<h3>Имя = @ViewBag.contact.name</h3>
<h4>У нас целых @ViewBag.size пользователей!</h4>
