@page
@model IndexModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Messenger-dialog</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-container">
        <section class="dialogs-list">
            <form action="#" method="post">
                <input class="search" type="search" name="search-area" placeholder="Найти">
            </form>
            <div class="dialog-list">
                <h2>Контакты</h2>
                <ul class="contacts">
                    @foreach (var item in ViewBag.array)
                    {
                        <li>
                            <a href="#">
                                <img src="#" alt="Фото" width="20" height="20">
                                <p> @item.name</p>
                            </a>
                        </li>
                    }
                    
                </ul>
            </div>
        </section>
        <section class="dialog">
            <header class="chat-header">
                <p class="name">Имя Собеседника</p>
            </header>
            <div class="chat-area">
                <div class="message-int">
                    <p>Привет!</p>
                </div>
                <div class="my-message">
                    <p>Привет, как дела?</p>
                </div>
                <div class="message-int">
                    <p>Хорошо! А у тебя?</p>
                </div>
                <div class="my-message">
                    <p>И у меня тоже ы</p>
                </div>
                <div class="my-message">
                    <p>Чем занимаешься?</p>
                </div>
                <div class="message-int">
                    <p>Да так, ничем)</p>
                </div>
            </div>
            <div class="chat-input">
                <form action="#" method="POST">
                    <textarea class="message-text" placeholder="Введите ваше сообщение"></textarea>
                    <button type="submit" class="submit-button">Отправить</button>
                </form>
            </div>
        </section>
    </div>

</body>
</html>