@page
@using System.Data.Entity.Core.Metadata.Edm
@using System.Reflection.Metadata
@using System.Runtime.InteropServices.ComTypes
@using Microsoft.AspNetCore.Hosting.Internal
@using Microsoft.AspNetCore.Razor.Language.Intermediate
@using SQLitePCL
@using System.Linq
@model Message
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Messenger-dialog</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-container">
        <section class="dialogs-list">
            <form action="#" method="post">
                <input class="search" type="search" name="search-area" placeholder="Найти">
            </form>
            <div class="dialog-list">
                <h2>Контакты</h2>
                <ul class="contacts">
                    @foreach (var item in ViewBag.array)
                    {
                        <li>
                            @{string path = item.Id.ToString();}
                            <a href="/home/getdetails/@Html.Raw(path)">
                                <img src="#" alt="Фото" width="20" height="20">
                                <p> @item.name</p>
                            </a>
                            @if (ViewBag.Role)
                            {
                                <a href="/home/delete/@Html.Raw(path)">
                                    <p> Exterminate </p>
                                </a>
                            }
                        </li>
                    }
                    
                </ul>
            @if (ViewBag.Role)
            {
                <a href="/home/addcontact/">
                    <p> Добавить пользователя</p>
                </a>
            }
                <a href="/home/findcontact/">
                    <p>Найти друга</p>
                </a>
            </div>
        </section>
        <section class="dialog">
            <header class="chat-header">
                <p class="name">Имя Собеседника</p>
            </header>
           
        </section>
    </div>
<a href="/Account/Logout">Logout</a>
</body>
</html>